.c-site-head {
  @apply py-12 mb-12 font-sans absolute top-0 inset-x-0 w-full z-50;

  @screen md {
    @apply py-16;
  }

  &__container {
    // @apply ;
  }

  &__components {
    @apply relative w-full w-full flex items-center;
  }

  &__hamburger {
    @apply absolute z-20 right-0 h-12 w-12;
    @screen md {
      @apply h-16 w-16;
    }

    span {
      @apply block absolute w-full bg-white opacity-100 right-0 z-50 h-1 translate-x-0 translate-y-1/2;
      border-radius: 40px;
      top: 50%;
      transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    span:first-child {
      top: 20%;
    }

    span:nth-of-type(2) {
      @apply translate-x-0 translate-y-1/2;
      width: 65%;
    }

    span:last-child {
      top: 80%;
    }

    &:hover {
      @apply cursor-pointer;
    }

    &--open {
      // burger nav toggle animations
      span {
        &:first-child {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) rotate(-135deg) scale(0.6);
        }

        &:nth-of-type(2) {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) rotate(135deg);
          transform: translateX(-110vw);
        }

        &:last-child {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%) rotate(135deg) scale(0.6);
        }
      }
    }
  }
}
