.c-hero {
  // margin-top: -160px;
  @apply relative  w-full h-screen overflow-hidden;

  // used to make the hero  100vh work properly on mobile devices. If not supported this will fallback to the above h-screen class
  height: calc(var(--vh, 1vh) * 100);

  &__media-content {
    @apply h-full w-full;
  }

  &-image {
    @apply h-full w-full object-cover object-center absolute;
  }

  &__content {
    @apply text-white inset-0 z-30 absolute text-center h-full w-full flex flex-col justify-center items-center invisible;
  }

  &__text {
    @apply font-sans text-3xl text-black mb-8 whitespace-pre-wrap text-center;

    @screen md {
      @apply mb-16;
    }

    @screen lg {
      @apply text-5xl;
    }
  }

  &__buttons {
    @apply flex flex-col mx-auto w-2/3;

    @screen md {
      @apply flex-row w-full justify-center;
    }
  }

  &--dark-bg {
    .c-hero {
      &__text {
        @apply text-white;
      }
    }
    .c-button--hero {
      &-primary {
        @apply bg-white text-brand-blue border-white;
      }

      &-secondary {
        @apply border-white text-white;
        &:hover {
          @apply bg-white text-brand-blue;
        }
      }
    }
  }

  &--animated-bg {
    @apply bg-brand-blue;
    // background: linear-gradient(122deg, #1a68af, #3490dc, #5891c4);
    // background-size: 600% 600%;
    // animation: hero-background-animation 0s ease infinite;
  }

  &__text-word {
    // @apply border;
  }
}

@keyframes hero-background-animation {
  0% {
    background-position: 0% 17%;
  }
  50% {
    background-position: 100% 84%;
  }
  100% {
    background-position: 0% 17%;
  }
}
