.c-scroll-icon {
  @apply invisible hidden;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
  transform: translateX(-50%);
  
  width:25px;
  height:40px;
  bottom: 4rem;

  @screen md {
    @apply block;
    bottom:2rem;
    width: 40px;
    height: 70px;
  }

  &:before {
    @apply bg-white;
    content: '';
    width: 4px;
    height: 4px;

    @screen md {
      width: 8px;
      height: 8px;
    }
      background: #fff;
    top: 8px;
    border-radius: 4px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }
}

.c-scroll-icon,
.c-scroll-icon:before {
  @apply absolute;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    left: 50%;
    transform: translateY(400%) translateX(-40%);
  }
}
